.aside {
	position: relative;
	background: $color-bg-dark;
	color: $color-font-light;
	max-width: 33%;
	min-width: 33%;
	padding: 0 20px;
	margin-bottom: 20px;
	font-weight: 600;
	letter-spacing: 0.1px;
}

.aside__titles {
	margin-top: 50px;
	padding: 5px 0 5px 5px;
	color: $color-font-dark;
	background: $color-bg-bright;
	font-style: italic;
	border-radius: 4px;
	min-width: 115%;
	box-shadow: 0 10px 10px rgba(121, 118, 118, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.aside__items {
	padding-top: 25px;
}

.aside__item {
	line-height: 2rem;
	padding-bottom: 15px;
	&:last-child {
		padding-bottom: 0;
	}
}

.contacts__item {
	span,
	a {
		font-style: italic;
		padding-left: 10px;
	}
}

.skills__item {
	@extend %marker-list;
}

.languages {
	padding-bottom: 25px;
}

.languages__item {
	@extend %marker-list;
}
