.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.github-link {
	font-style: italic;
	text-decoration: underline;
	font-weight: 700;
	padding-bottom: 3px;
}
.date {
	text-align: center;
	padding-bottom: 8px;
}
.rsschool-logo {
}
