.header {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	text-align: right;
}

.photo {
	background: $color-bg-dark;
	max-width: 33%;
	min-width: 33%;
	padding-top: 33px;
}

.photo-bg {
	background-color: $color-bg-light;
	width: 250px;
	height: 230px;
	margin: 0 auto;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	img {
		padding-top: 10px;
	}
}

.info {
	width: 57%;
}

.about {
	color: $color-font-dark;
	@extend %font-main;
	font-size: 1.8rem;
	font-style: italic;
	letter-spacing: 1.5px;
	padding-top: 100px;
	text-align: justify;
}
