html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  @extend %font-main;
  background: $color-bg-dark;
}

h1 {
  @extend %font-titles;
  @include font(5.55rem);
  color: $color-font-dark;
}

h2 {
  @extend %font-titles;
  @include font(5rem);
  color: $color-font-dark;
}

h3 {
  @extend %font-titles;
  @include font(2rem, 3rem);
  color: $color-font-dark;
}

a {
  @extend %font-titles;
}

.section {
  padding-left: 150px;
}

.title {
  margin: 80px 0 50px 0;
  padding: 7px 0 7px 7px;
  color: $color-font-dark;
  background: $color-bg-bright;
  font-style: italic;
  border-radius: 4px;
  min-width: 100%;
  box-shadow: 0 10px 10px rgba(121, 118, 118, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.list__item {
  line-height: 2rem;
  padding-bottom: 15px;

  &:last-child {
    padding-bottom: 0;
  }
}
