$color-bg-bright: #e6ab09;
$color-bg-dark: #000;
$color-bg-light: #fff;
$color-font-light: #f7f7f7;
$color-font-dark: #0c0801;

$content-width: 1200px;
$tablet-big-width: 1024px;
$tablet-small-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
